<%= form_for(@portfolio, html: { class: 'form-horizontal' }) do |f| %>
    <% if @portfolio.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @portfolio.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-1 control-label' %>

      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>

    </div>

    <div class="form-group">
      <%= f.label :description, class: 'col-sm-1 control-label' %>

      <div class="col-sm-6">
        <%= f.text_field :description, class: 'form-control'%>
      </div>

    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-6">
        <div class="btn-group pull-right" role="group">
          <%= link_to 'Cancel', portfolios_path, class: 'btn btn-default' %>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
