<tr>
  <td><%= link_to portfolio.name, portfolio %></td>
  <td><%= portfolio.description %></td>
  <td><%= portfolio.stocks.size %></td>
  <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %> <%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>