<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Last Price</th>
      <th>Change</th>
      <th>% Change</th>
      <th>Volume</th>
      <th>High</th>
      <th>Low</th>
      <th>Open</th>
      <th>High 52w</th>
      <th>Low 52w</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.symbol, portfolio_stock_path(portfolio, stock) %></td>
          <td><%= stock.name %></td>
          <td><%= stock.last_trade_price %></td>
          <td><%= stock.change %></td>
          <td><%= stock.change_in_percent %></td>
          <td><%= stock.volume %></td>
          <td><%= stock.high %></td>
          <td><%= stock.low %></td>
          <td><%= stock.open %></td>
          <td><%= stock.high_52_weeks %></td>
          <td><%= stock.low_52_weeks %></td>
          <td><%= link_to 'Edit', edit_portfolio_stock_path(portfolio, stock) %> <%= link_to 'Destroy', portfolio_stock_path(portfolio, stock), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>