<h1>Listing Portfolios</h1>

<% if @portfolios.any? %>
  <%= link_to 'New Portfolio', new_portfolio_path, class: 'btn btn-success' %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Stocks</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <%= render @portfolios %>
      </tbody>
    </table>
<% else %>
    <div class="well">Nothing to show. <%= link_to 'Create new portfolio!', new_portfolio_path %></div>
<% end %>
