<ol class="breadcrumb">
  <li><%= link_to 'Edit', edit_portfolio_path(@portfolio) %></li>
  <li><%= link_to 'Back', portfolios_path %></li>
  <li class="pull-right">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= link_to 'New Stock', new_portfolio_stock_path(@portfolio) %>
  </li>
</ol>
<div class="row">
  <%= render 'stocks_table', { portfolio: @portfolio, stocks: @portfolio.stocks } if @portfolio.stocks.any? %>
</div>
<div class="row">
  <%= high_stock('portfolio-chart', @chart) %>
</div>
