<%= form_for [@portfolio, @stock], html: { class: 'form-horizontal' } do |f| %>
    <% if @stock.errors.any? %>
        <div class="alert aler-danger">
          <ul>
            <% @stock.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :symbol, class: 'control-label col-sm-1' %>
      <div class="col-sm-6">
        <%= f.text_field :symbol, class: 'form-control symbol_autocomplete' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, class: 'control-label col-sm-1' %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: 'form-control', readonly: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :shares_count, class: 'control-label col-sm-1' %>
      <div class="col-sm-2">
        <%= f.number_field :shares_count, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-6">
        <div class="btn-group pull-right" role="group">
          <%= link_to 'Cancel', portfolio_path(@portfolio), class: 'btn btn-default' %>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>