<ol class="breadcrumb">
  <li><%= link_to 'Edit', edit_portfolio_stock_path(@portfolio, @stock) %></li>
  <li><%= link_to 'Portfolio', portfolio_path(@portfolio) %></li>
</ol>

<div class="row">
  <div class="col-sm-3">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <td>Name</td>
        <td><%= @stock.name %></td>
      </tr>
      <tr>
        <td>Shares count</td>
        <td><%= @stock.shares_count %></td>
      </tr>
      <tr>
        <td>Last price</td>
        <td><%= @stock.last_trade_price %></td>
      </tr>
      <tr>
        <td>Change</td>
        <td><%= @stock.change %></td>
      </tr>
      <tr>
        <td>Change %</td>
        <td><%= @stock.change_in_percent %></td>
      </tr>
      <tr>
        <td>Volume</td>
        <td><%= @stock.volume %></td>
      </tr>
      <tr>
        <td>Day's range</td>
        <td><%= @stock.high %> - <%= @stock.low %></td>
      </tr>
      <tr>
        <td>52wk range</td>
        <td><%= @stock.low_52_weeks %> - <%= @stock.high_52_weeks %></td>
      </tr>
      <tr>
        <td>Open</td>
        <td><%= @stock.open %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-offset-1 col-sm-8">
    <%= high_stock('stock-chart', @chart) %>
  </div>
</div>
