<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Stock_4xxxi', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><span class="navbar-text">Signed in as <%= current_user.email %></span></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
