<!DOCTYPE html>
<html>
<head>
  <title>Stock4xxi</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="span12">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
